
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - NetCore</title>
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="~/lib/inspinia/animate.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <environment names="Development">
        <link href="~/css/src/site.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/dist/site.css" rel="stylesheet">
    </environment>
    @RenderSection("styles", required: false)
</head>
<body id="page-top" class="landing-page">
    @Html.Partial("_Nav")

    @Html.Partial("_Banner")

    @RenderBody()

    @Html.Partial("_Footer")

    <!-- Mainly scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/lib/inspinia/inspinia.min.js"></script>
    <script src="~/lib/pace/pace.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <environment names="Development">
        <script type="text/javascript" src="~/js/src/utils.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/src/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/dist/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
