@using Microsoft.AspNetCore.Http

@inject AuthorityManager authenticator
@{
    var powers = new List<InterfaceOperationModel>();
    if (Context.ManageIsLogin())
    {
        powers = await authenticator.GetUserAuthoritiesByUserNameAsync(Context.GetManageLoginUser().UserName);
    }
}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="logo-element">
                    <a href="/">DDomain</a>
                </div>
            </li>
            @if (powers.HasAnyInterfaceAuthority(nameof(ManageRoleAuthorities), nameof(ManageUser)))
            {
                <li class="@Html.IsSelected(controller: "AuthorityManage")">
                    <a><i class="fa fa-file-text-o" title="权限管理"></i><span class="nav-label" data-i18n="nav.dashboard">用户/权限管理</span></a>
                    <ul class="nav nav-second-level">
                        @if (powers.HasOperaAuthority(nameof(ManageUser), ManageUser.READ))
                        {
                            <li class="@Html.IsSelected(action: "Users", controller: "Authority")">
                                <a href="@Url.Action("Users", "Authority")">用户管理</a>
                            </li>
                        }
                        @if (powers.HasOperaAuthority(nameof(ManageRoleAuthorities), ManageRoleAuthorities.READ))
                        {
                            <li class="@Html.IsSelected(action: "RoleAuthorityList", controller: "Authority")">
                                <a href="@Url.Action("RoleAuthorityList", "Authority")">角色权限</a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>